.about {
    &-title {
        margin-top: 4rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 0 0 1rem 0;
        & h2 {
            color: lighten($text-color, 50%);
            letter-spacing: 3px;
            @include h2;
        }
    }
    &-3d{
        position: absolute;
        color: $white-color;
        top: -20px;
        right:-15px;
        transform: translateX(-40%);
        font-size: calc(4vw + 1.8rem);
        text-transform: uppercase;
        font-weight: 900;
        text-shadow: $threedshadow;
        z-index: -1;
        @include cmx(768){
            top: 10px;
        }
    }

    &-btn {
        position: absolute;
        display: block;
        bottom: 4px;
        left: 1rem;
        transition: left ease-in 600ms;

    }
    & .arrow {
        margin-top: 2rem;
        position: absolute;
        bottom: 4px;
        width: 34px;
        height: 10px;
        fill: none;

        &-self {
            stroke: lighten($secondary-color, 20%);
            stroke-width: 2;
        }
    }

    &-cv-wrapper {
        display: block;
        widows: 100%;
        margin: 2rem 0 4rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-cv {
        position: relative;
        text-decoration: none;
        color: rgba($white-color, 0.9);
        text-transform: uppercase;
        font-size: 0.753rem;
        font-weight: 700;
        letter-spacing: 3px;
        cursor: pointer;
        padding: 1rem 1.5rem;
        background-color: $secondary-color;
        outline: 2px solid $text-color;
        margin: 2rem 0;
        z-index: 5;
        transition: all 500ms ease-in;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 8%;
            height: 4px;
            z-index: -1;
            background-color: rgba($text-color, 0.8);
            transition: 500ms ease-in all;
        }
        &:hover::after{
            background-color: rgba($text-color, 0.8);
            width: 100%;
            height: 100%;
   
        }
        &:hover {
            color: rgba($white-color, 0.8);
            z-index: 6;
        }
    }
}
.one {
    color: $white-color;
    display: inline-block;
    width: 10%;
    @include cmx(768){
        width: 30px;
    }
    @include number;
}
.services {
    margin: 3rem 0;
    @include lg{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 20px;
        align-items: stretch;
    }
    @include onlymd {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 20px;
    }
    &-item {
        position: relative;
        @include easeOut;
        text-decoration: none;
        cursor: pointer;
        padding: 1rem 1rem;
        
        &:hover {
            box-shadow: $boxshadow;
            color: $white-color;
            transform: translateY(-5%);
            outline: 6px solid rgba($secondary-color,0.6);
            .brush-icon, .mobile-icon,  #uxicon, .laptop {
                transform: scale(1.1);
                stroke: rgba($secondary-color, 0.9);
                fill: rgba($secondary-color,0.5);
            }
            .brush, .mobile, .laptop.top, .laptop.bottom, .laptop.line, #uxicon .ux.body{
                stroke: rgba($secondary-color, 0.9);
                fill: rgba($secondary-color,0.3);
            }
            .brush, .mobile.body, #uxicon .ux.body,  #uxicon .ux.gitar, #uxicon .ux.pause, #uxicon .ux.play{
                fill: rgba($secondary-color,0.3);
            }
            .mobile.top, .mobile.round, #uxicon .ux.round,#uxicon .ux.bar, #uxicon .ux.top, #uxicon .ux.ux.barfilled{
                fill: $white-color;
                transform: scale3d(1.1);
                transform-origin: center;
            }
            .about-btn  {
                left: 40%;
            }
            .services-title {
                color: rgba($secondary-color, 0.9);
            }
        }

        & .cat1 p{
            font-weight: 700;
            font-size: 0.781rem;
            color: rgba($secondary-color, 0.6);
        }
    }
    &-title {
    font-size: 0.8rem;
    font-weight: 500;
    color: $text-color;
    letter-spacing: 0px;
    padding: 0.5rem 0;
    transition: color 500ms ease-in;
    }
    &-body p {
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.5;
        color: rgba($text-color, 0.8);
        margin-bottom: 1rem;
    
    }

}


.brush-icon , .mobile-icon, #uxicon, .laptop {
   width: 100px;
   height: 100px;
   margin: 5px  0 5px 0;
   @include easeOut;
}
.brush{
    @include easeOut;
    stroke:rgba($text-color, 0.6);
    stroke-width: 1;
}
.mobile {
    @include easeOut;
    stroke:rgba($text-color, 0.6);
    fill: none;
    &.body {
        @include easeOut;
        width: 60px;
        height: 90px;
        stroke-width: 1;
    }
    &.top {
        @include easeOut;
        stroke: rgba($text-color, 0.3);
        fill: rgba($text-color, 0.3);
    }
    &.round {
        @include easeOut;
        width: 15px;
        height: 15px;
        stroke: rgba($text-color, 0.3);
        fill: rgba($text-color, 0.3);
    }
    
}

#uxicon {
    @include easeOut;
    & .ux.body{
    width: 60px;
    height: 90px;
    stroke: rgba($text-color, 0.6);
    stroke-width: 1; 
    fill: none;
    }
    & .ux.gitar {
        @include easeOut;
        fill: rgba($text-color, 0.3);
        transform: translate(-20px,-5px);
    }

    & .ux.bar {
        @include easeOut;
        stroke-width: 0.5;
        stroke: rgba($text-color, 0.6);
        stroke-miterlimit: 10;
        transform: translate(-20px, -6px);
        fill: none;

    }
    & .ux.round, & .ux.top {
        @include easeOut;
        fill: rgba($text-color, 0.3);
    }
    & .ux.round, & .ux.top {
        width: 15px;
        height: 15px;
    }
    & .ux.top {
        width: 15px;
        height: 2px;
    }
    & .ux.barfilled {
        @include easeOut;
        fill: rgba($text-color, 0.3);
        transform: translate(-20px, -6px);
    }
    & .ux.pause, & .ux.play {
        @include easeOut;
        fill: rgba($text-color, 0.3);
        transform: translate(-20px, -6px);
    }
}
.laptop {
    @include easeOut;
    width: 120px;
    fill: none;

    &.top, &.bottom, &.line {
        @include easeOut;
        stroke: rgba($text-color, 0.6);
        stroke-miterlimit: 10;
    }
    &.top {
        stroke-width: 1;
    }
    &.bottom {
        stroke-width: 1;
    
    }
    &.line {
        stroke-width: 0.5;
    }
    
}
