.cv{
    position: relative;
    padding: 2rem 0;
    &-title {
        margin-top: 4rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 0 0 1rem 0;
        & h2 {
            color: lighten($text-color,30%);
            letter-spacing: 3px;
            @include h2;
        }
    }
    &-3d{
        position: absolute;
        color: $white-color;
        top: -30px;
        right:-85px;
        transform: translateX(-40%);
        font-size: calc(4vw + 1.8rem);
        text-transform: uppercase;
        font-weight: 900;
        text-shadow: $threedshadow;
        z-index: -1;
        @include cmx(768){
            top: 10px;
        }
    }

    &-three{
        color: $white-color;
        display: inline-block;
        width: 10%;
        @include cmx(768){
            width: 30px;
        }
        @include number;
    }
    &-me {
        padding: 1rem 0;
        color: rgba($text-color, 0.6);
        font-size: 0.788rem;
        font-weight: 300;
        line-height: 1.5;
        &::first-letter {
            font-weight: 900;
            color: $secondary-color;
            font-size: 0.9rem;
            padding-right: 1px;
        }
    }
    &-skills {
        padding: 1rem;
        @include sm {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 5px;
            grid-template-rows: 1fr;
        }

        & .skill {
            position: relative;
            display: inline-block;
            min-width: 100px;
            

            & span {
                color: $secondary-color;
                text-transform: uppercase;
                font-size: 0.8rem;
                font-weight: 500;
                display: block;
                text-align: center;
            }
        }
    }
}