// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }
 // Custom devices
@mixin cmi($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
 }
 @mixin cmx($screen) {
    @media (max-width: $screen+'px') {
        @content;
    }
 }
@mixin onlymd {
    @media only screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-lg-min}) {
        @content;
    }
    
}
//  using mixin
//  .container {
//     padding: 0 15px;
// // 576px window width and more
//     @include sm {
//         padding: 0 20px;
//     }
// // 992px window width and more
//     @include lg {
//         margin-left: auto;
//         margin-right: auto;
//         max-width: 1100px;
//     }
// // 1400px window width and more
//     @include cm(1400) {
//         margin-bottom: 20px;
//         margin-top: 20px;
//     }
// }


@mixin easeOut {
    transition: all 500ms ease-out;
}
@mixin grad {
    background: rgba($secondary-color,1);
    background: linear-gradient(-45deg, rgba($primary-color,1) 80%, rgba($secondary-color, 1)20%);
}

@mixin threede{
    text-shadow: 
        0px 1px 1px #919191,
        0px 2px 1px #919191,
        0px 3px 1px #919191,
        1px 2px 3px rgba(16,16,16,0.4),
        1px 6px 6px rgba(16,16,16,0.2),
        1px 8px 12px rgba(16,16,16,0.2);
}

@mixin background($color, $opacity) {
    @if $show-home-image {
        &-video {
            background-size: cover;
            background-position: center center;
            position: absolute;
            left:0;
            top: 0;
            z-index: 0;
        }

        &:after{
            content: "";
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: rgba($color, $opacity);
            mix-blend-mode: multiply;
        }
    }
}
@mixin image-bg($color, $opacity) {
    @if $show-home-image {
        &-bg {
            background-size: cover;
            background-position: center center;
            position: relative;
            z-index: 0;
        }

        &:after{
            content: "";
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: rgba($color, $opacity);
            mix-blend-mode: multiply;
        }
    }
}

@mixin clippath{
    clip-path: polygon(100% 0, 100% 94%, 89% 97%, 73% 99%, 50% 100%, 27% 99%, 11% 97%, 0 94%, 0 0);
}
@mixin radial{
    background: radial-gradient(circle, rgba($secondary-color,.03) 0%, rgba($secondary-color,0.2) 40%, rgba($secondary-color,0.1) 63%, rgba($secondary-color,0.2) 78%, rgba($secondary-color,0.1) 94%);
}
@mixin decoration($at,$al,$bt,$bl,$cl1,$cl2){
    padding:220px;
    background: rgba($secondary-color, $cl1);
    border:1px solid rgba($text-color, 0.1);
    border-radius: 50%;
    &::after, &::before {
        content: '';
        background: rgba($text-color, $cl2);
        position: absolute;
        border-radius: 50%;
        border:1px solid rgba($text-color, 0.1);
        mix-blend-mode: multiply;
    }

    &::before {
        top: -$bt;
        left:$bl;
        padding:175px;
    }
    &::after{
        top: $at;
        left: $al;
        padding: 130px;
        background: rgba($text-color, $cl2);
        mix-blend-mode: multiply;
    }

}

@mixin  h2 {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 800;
    font-size: calc(1.5vw + 1rem);
    font-family: $font-body;
    line-height: calc(2vw + 1.555rem);
    &::first-letter {
        color: $secondary-color;
    }
}

@mixin number {
    position: relative;
    font-size: calc(1.5vw + 2rem);
    font-weight: 900;
    z-index: 5;
    padding: 10px 12px 8px 0;
    font-family: sans-serif;
    color: lighten($secondary-color, 30%);
    text-shadow: $threedshadow;
    &::after , &::before{
        position: absolute;
        content: '';
        width: 20%;
        z-index: 6;
        height: 1px;
        left: 0;
        background-color: rgba($secondary-color, 0.2);

    }
    &::after{
        top: 0;
    }
    &::before {
        bottom: 0;
    }
}

@mixin textP {
    color: lighten($text-color, 30%);
    font-size: 0.823rem;
    font-weight: 300;
    line-height: 1.5;
    font-family: $font-body;
}