/*fonts
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,300,400,400i,500,700,700i,800,900&display=swap');
/**
 * Colours
 **/
$body-color:#f8f8f8;
$primary-color: #0b0c10; 
$primary-light: #1f2833;
$black: black;
$morning:#85ecfc ;
$noon: #f13c20;
$afternoon: rgb(45, 78, 185);
$evening: #44318D;
$night: darken($primary-color, 1%);
$overlay-bw: #0b0c10;
$white-color: white;
$text-color: #111;
$secondary-color: #de7064;
$success: #5cdb95;
$fail: #fc4445;
$warning: #ffe400;
$show-home-image: true;
$morning-opacity: 0.979;
$noon-opacity: 0.699;
$after-noon-opacity: 0.669;
$evening-opacity: 0.979;
$night-opacity: 0.989;
$background-opacity: 0.7;
$boxshadow: 0px 0px 22px 3px rgba($text-color, 0.234);
$threedshadow:0 1px 1px lighten($text-color, 90%),
0 2px 0 lighten($text-color, 80%), 
0 3px 0 lighten($text-color, 70%), 
0 4px 0 lighten($text-color, 65%), 
0 5px 0 lighten($text-color, 55%);
/**
 * Fonts
 **/
$font-body: 'Montserrat', sans-serif;


